/* body layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.04em;
    margin: 0;
}

.main {
    width: 100%;
    max-width: 50em;
}

/* header positioning */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 2.1875em;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}

/* button layout */
.button {
    background-color: #1C1C1E;
    color: white;
    border-style: none;
    font-size: 1.375em;
    letter-spacing: 0.05625em;
    padding: 2px 7px;
    cursor: pointer;
}

/* new project button adjustments */
.button.new {
    margin-top: 3.125em;
    margin-bottom: 0.5em;
    font-weight: 400;
}

/* action buttons adjustments */
.button.actions {
    font-size: 0.875em;
    margin-bottom: 0.5em;
}

/* hover animation */
.button:hover {
    background: #57575e;
}

/* everything for the project title position etc. */
.project.title {
    background-color: #2B2B2B;
    border: none;
    font-size: 1.4375em;
    position: absolute;
    top: -19px;
    left: -12px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    padding: 5px;
    margin-bottom: 0;
}

/* project layout */
.project {
    border: 0.125em solid #333333;
    border-color: #797979;
    position: relative;
    padding-top: 1.4375em;
    margin-bottom: 1.875em;
}

/* report layout */
.report {
    background-color: #2B2B2B;
    margin-top: 0.625em;
    margin-right: 1.0625em;
    margin-left: 1.0625em;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.report:first-child {
    margin-top: 0;
}

/* position and size for the report title */
.report-title {
    font-size: 1.375em;
    margin-left: 0.4em;
    line-height: 1;
}

/* adjustments for the report description */
.report-description {
    font-size: 0.9375em;
    margin-left: 1.5625em;
    display: block;
    line-height: 1;
}

/* date adjustments */
.date {
    font-weight: 100;
    font-size: 0.6875em;
    font-family: "Noto Sans JP";
    padding-top: 5.5em;
    padding-right: 0.1875em;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

/* positioning for the project action buttons */
.project-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1.125em;
    margin-top: 0.625em;
    margin-right: 1.0625em;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #404040;
    border: 0.125em solid #333333;
    border-color: #797979;
    width: 29.375em;
    height: 18.125em;
    max-width: 100%;
}

.modal-header {
    background-color: #2B2B2B;
    margin: 0;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    padding-right: 0.5625em;
    padding-left: 0.5625em;
    padding-bottom: 0.3125em;
}

.popup-title {
    font-size: 1.1875em;
    padding-left: 0.5625em;
    padding-top: 0.25em;
}

.github-description {
    font-family: "Noto Sans JP";
    font-weight: 400;
    color: #BCBCBC;
    font-size: 0.625em;
    line-height: 1;
    padding-left: 1.5625em;
    padding-top: 0.625em;
}

.button-edit {
    background-color: #1C1C1E;
    color: white;
    border-style: none;
    font-size: 0.875em;
    letter-spacing: 0.05625em;
    padding: 0.125em 0em;
    cursor: pointer;
    width: 7.75em;
}

.button-position {
    padding-top: 6.8125em;
}

.button-spacing {
    margin-top: -0.375em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-edit.cancel {
    border: none;
    outline: none;
    background: none;
    font-size: 1.7em;
    width: 2.1875em;
}

.button-edit.destroy {
    color: #E5534B;
}

.button-edit:hover {
    background: #57575e;
}

.adjust {
    display: flex;
    align-items: flex-start;
    gap: 0.3125em;
    margin-bottom: -0.625em;
}

.adjust textarea {
    border: none;
    width: 15.3125em;
    height: 0.9375em;
    resize: none;
    background: #1C1C1E;
    color: white;
    border-bottom: 0.125em solid #797979;
    border-right: 0.0625em solid #797979;
    margin-top: 0.6875em;
}