body {
    letter-spacing: 0.5px;
    margin-left: 30px;
    margin-right: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-weight: 435;
    margin-bottom: 0px;
    margin-top: 0px;
}

.button {
    background-color: #1C1C1E;
    color: white;
    border-style: none;
    font-size: 22px;
    letter-spacing: 0.9px;
    padding: 2px 7px;
    cursor: pointer;
}

.button.new {
    margin-top: 50px;
    margin-bottom: 8px;
    font-weight: 400;
}

.button.actions {
    font-size: 14px;
    margin-bottom: 8px;
}

.button:hover {
    background: #57575e;
}

.project.title {
    background-color: #2B2B2B;
    border: none;
    font-size: 23px;
    position: relative;
    top: -23px;
    left: -12px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    padding: 5px;
    margin-bottom: 0px;
}

.project {
    border: 2px solid #333333;
    border-color: #797979;
    margin-bottom: 30px;
}

.project-actions {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    margin-top: 10px;
    margin-right: 17px;
}

.report {
    background-color: #2B2B2B;
    margin-top: 10px;
    margin-right: 17px;
    margin-left: 17px;
    display: flex;
    justify-content: space-between;
}

.report.description {
    font-size: 15px;
}

.date {
    font-weight: 100;
    font-size: 11px;
    padding-top: 78px;
    padding-right: 3px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}