body {
    background-color: #404040;
    color: white;
    font-family: "Noto Sans JP";
}

h1 {
    font-weight: 435;
}

button {
    background-color: #1C1C1E;
    color: white;
}

h2 {
    color: white;
    font-family: "Noto Sans JP";
    font-weight: 475;
    font-size: smaller;
}

.mutation {
    width: 2in;
    height: 1.5cm;
    border: 1px solid #333333;
    color: white;
}