body {
    background-color: #404040;
    color: white;
    font-family: "Noto Sans JP";
}

h1 {
    font-weight: 435;
}

button {
    background-color: #1C1C1E;
    color: white;
    border-style: none;
    font-size: 22px;
}

.project-buttons {
    font-size: 15px;
}

.project {
    border: 1px solid #333333;
    border-color: #797979;
}

.reports {
    background-color: #2B2B2B;
}