body {
    background-color: #404040;
}

h1 {
    color: white;
    font-family: "Noto Sans JP";
    font-weight: 435;
}
h2 {
    color: white;
    font-family: "Noto Sans JP";
    font-weight: 475;
    font-size: smaller;
}
.mutation {
    width: 2in;
    height: 1.5cm;
    border: 1px solid #333333;
    color: white;