button {
    background-color: #1C1C1E;
    color: white;
    border-style: none;
    margin-left: 55px;
    font-size: 10px;
    height: 25px;
    cursor: pointer;
}

h2 {
    color: white;
    font-family: "Noto Sans JP";
    font-weight: 475;
    font-size: smaller;
}

.mutation {
    width: 2in;
    border: 1px solid #333333;
    color: white;

}

.rating-stars-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: fit-content;
  border-bottom: black;
}

input[type="radio"] {
  display: none;
}

label {
  cursor: pointer;
  font-size: 20px;
  color: yellow;
}

label:before {
  content: '\2606';
  position: relative;
}

input[type="radio"]:checked ~ label:before {
  content: '\2605';
  opacity: 0.7;
}

.rating-stars-wrapper label:hover:before,
.rating-stars-wrapper label:hover ~ label:before {
  content: '\2605';
  opacity: 0.7;
}

.rating-stars-wrapper:not(:hover) input[type="radio"]:checked ~ label:before,
.rating-stars-wrapper:hover input[type="radio"]:hover ~ label:before {
  opacity: 1;
}

.filters{
    font-size: 10px;
    width: 2in;
    border: 1px solid #333333;

}
textarea {
    width: 60px;
    height: 15px;
    resize: none;
    background: #1C1C1E;
    color: white;
}

select {
    width: 60px;
    height: 15px;
    background: black;
    color: white;
}